{% extends 'main/main.html'%} {% block content %}
<div class="container">
  <div class="row py-5 justify-content-center">
    <h2>Crear Productos</h2>
  </div>
  <form action="/productos/crear" name="form" method="POST" novalidate>
    {{ csrf_token }}
    {{ form.hidden_tag() }}
    <div class="form-row m-2">
      <div class="col">
        {{ form.producto.label(class = "mx-3") }}
        {{ form.producto(class="form-control mr-sm-2", placeholder = "Ingrese nombre del producto...") }}
        {% for error in form.producto.errors %}
          <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
      <div class="col">
        {{ form.proveedor.label(class = "mx-3") }}
        {{ form.proveedor(class="form-control mr-sm-2", placeholder = "Ingrese correo...") }}
        {% for error in form.proveedor.errors %}
          <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-row m-2">
      <div class="col">
        {{ form.cantidadMaxima.label(class = "mx-3") }}
        {{ form.cantidadMaxima(class="form-control mr-sm-2", placeholder = "Cantidad máxima...", type = "number") }}
        {% for error in form.cantidadMaxima.errors %}
          <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
      <div class="col">
        {{ form.cantidadMinima.label(class = "mx-3") }}
        {{ form.cantidadMinima(class="form-control mr-sm-2", placeholder = "Cantidad mínima...", type = "number") }}
        {% for error in form.cantidadMinima.errors %}
          <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-row m-2">
      <div class="col">
        {{ form.descripcion.label(class = "mx-3") }}
        {{ form.descripcion(class="form-control mr-sm-2", placeholder = "Ingrese descripción") }}
        {% for error in form.descripcion.errors %}
          <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="row m-4">
      {{ form.enviar(class = "btn btn-outline-success m-2 my-sm-0 px-2") }}
      <button class="btn btn-outline-danger m-2 my-sm-0 px-2">
        Cancelar
      </button>
    </div>
  </form>
</div>

{% endblock %}