{% extends 'main/main.html'%}
{% block content %}
    <div class="container">
      <div class="row py-5 justify-content-center">
        <h2> Usuarios </h2>
      </div>
      <div class="row m-2 d-flex">
        <h4>Editar Usuario</h4>
        <form class="form-inline my-2 my-lg-0">
          <p class="m-4"> Nombre: </p>
          <input class="form-control mr-sm-2" type="search" placeholder="Jhon Jairo Martinez" aria-label="Search">
          <p class="m-4"> Correo: </p>
          <input class="form-control mr-sm-2" type="search" placeholder="jjmartinez@gmail.com" aria-label="Search">
          <p class="m-4"> Rol: </p>
          <input class="form-control mr-sm-2" type="search" placeholder="Usuario final" aria-label="Search">
          <button class="btn btn-outline-success m-2 my-sm-0 px-2" type="submit">
            Guardar cambios
          </button>
          <button class="btn btn-outline-danger m-2 my-sm-0 px-2" type="cancel">
            Cancelar
          </button>
        </form>
      </div>
    </div>
{% endblock %}