@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

:root {
    font-family: 'Libre Franklin', sans-serif;
}

svg {
    margin: 5px;
}

header {
    display: flex;
    background-color: darkkhaki;
}

header p {
    font-size: 3rem;
    color: white;
    font-weight: 800;
}